# GIWA Sepolia RPC configuration
NEXT_PUBLIC_GIWA_RPC_ENDPOINT=https://sepolia-rpc.giwa.io
NEXT_PUBLIC_GIWA_FLASHBLOCKS_RPC_ENDPOINT=https://sepolia-rpc-flashblocks.giwa.io

# Wallet Connection (for wallet connection)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_project_id
